@model Denisov.DAL.Entities.Tobacco
{
<article class="card">
    <aside class="card__aside">
        <figure class="card__figure">
            <img asp-for="Image" src="@Model.Image" alt="Dummy Image" class="card__image">
        </figure>
    </aside>
    <header class="card__header">
        <h2 class="card__title">@Model.Name</h2>
    </header>
    <div class="card__body">
        <p>Крепость: @Model.Strength</p>
        <p>Вкус: @Model.Flavour</p>
        <p>Цена: @Model.Price BYN за упаковку весом @Model.Weight грамм </p>
    </div>
    <footer class="card__footer">
       @Model.Type
    </footer>
</article>
@section Css {
    <link rel="stylesheet" href="~/css/generator.css" />
}
